$primary_blue: #0049c6;

.calendar-container {
    display: flex;

    .right__container {
        // padding-left: 270px;
        width: 100%;
    }

    .closedRight__container {
        //  padding-left: 85px; 
        width: 100%;
    }

    .rightSide {
        width: 100%;
        display: block;
    }

    .main {
        padding: 20px;
        width: 100%;

        .fc-direction-ltr {
            margin-top: 10px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 20px 0;
            background-color: white;

            .fc-header-toolbar {
                padding: 10px;
            }
        }

        .fc-toolbar-chunk {

            .fc-button-group {
                padding: 5px 25px;
                background: #e6e8f0;
                border-radius: 15px;

                button {
                    background-color: transparent;
                    color: $primary_blue;
                    border: none;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                .fc-button-active,
                :focus,
                :active,
                :focus-visible {
                    transition: 1s;
                    background-color: white !important;
                    color: $primary_blue !important;
                    border-radius: 15px;
                    border: none !important;
                    box-shadow: none !important;
                }
            }

            .fc-newTask-button,
            .fc-newEvent-button {
                background-color: #333399;
                font-size: 15px;
                border-radius: 10px;
                padding: 10px 20px;
            }

            .fc-moreVert-button {
                transform: rotate(90deg);
                font-size: 30px;
                background: transparent;
                color: black;
                border: none;
                padding: 0;

                &:focus {
                    box-shadow: none !important;
                }
            }
        }

        .fc-timegrid-slots {
            tr {
                height: 150px;
            }
        }

        .fc-day-today {
            background-color: white;
            color: $primary_blue;
        }

        .fc-event {
            background-color: transparent !important;
            border-color: transparent !important;
        }
    }


    //  {
}


.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    width: 220px;
    height: 40px;
    display: flex;
    // }
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    display: flex;
    gap: 4px;
}

.cursor-p {
    cursor: pointer;
}

.drawer-attachment-main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .row1 {
        display: flex;
        gap: 10px;

        .row1-img {
            background-color: #ebebf5;
            width: 35px;
            border-radius: 5px;
            padding: 5px;
        }
        .row1-txt{
            .name{
                font-weight: bold;
                font-size: 18px;
            }
            .size{
                color: #9FA6B2;
            }
        }
    }

}
.add-attachment{
    background-color: #F4F5F7;
    color: #9FA6B2;
    padding: 40px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.drawer-main {

    .subtask-main {
        display: flex;
        align-items: center;

        .subtask-card {
            border: 1px solid lightgray;
            padding: 10px;
            border-radius: 10px;

            .row-1 {
                display: flex;
                gap: 15px;
                align-items: center;

                .no {
                    background-color: #f4f4ff;
                    padding: 8px 14px;
                    border-radius: 50px;
                }

                .head {
                    color: #161E2E;
                    font-weight: 600;
                }

                .status {
                    background-color: #dcffe0;
                    color: #0ECB20;
                    padding: 6px 10px;
                    border-radius: 20px;
                    text-align: center;
                }

                .status-not {
                    @extend .status;
                    background-color: #ffe3da;
                    color: red;
                }

                .status-pending {
                    @extend .status;
                    background-color: #fcf3e1;
                    color: #ECAD34;
                }
            }

            .row-3 {
                display: flex;
                justify-content: space-between;

                .left {
                    background-color: #f4f4ff;
                    display: flex;
                    justify-content: space-between;
                    width: 48%;
                    margin-top: 10px;
                    padding: 10px;
                    align-items: center;
                    border-radius: 8px;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }
            }
        }
    }


    .headbar {
        display: flex;
        gap: 5px;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 8px;
    }

    .event-drawer-heading {
        h3 {
            margin-left: 10px;
            line-height: 1.8;
            position: relative;

            &::before {
                content: "";
                width: 4px;
                height: 25px;
                background: #FF7971;
                position: absolute;
                left: -10px;
                top: 5px;

            }
        }
    }

    .event-slot-main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .row-slot {
            width: 100%;
            display: flex;
            gap: 10px;
            width: 100%;

            div{
                display: flex;
                justify-content: space-between;
                width: 50%;
            }
            .event-date,
            .event-time {
                display: flex;
                align-items: center;
            }
        }
    }
}

.event-modal-main {
    .event-modal-info {
        background-color: #f0f0fa;
        padding: 20px;
        margin: 10px 0;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        div {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}