.container {
  display: flex;
  /* overflow: hidden; */
}
.right__container {
  /* padding-left: 270px; */
  width: 100%;
}

.closedRight__container {
  /* padding-left: 85px; */
  width: 100%;
}

.rightSide{
  width: 100%;
  display: block;
}

.main{
  padding: 20px;
  width: 100%;
}
