.container {
  position: absolute;
  right: 70px;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  top: 32px;
  border-radius: 8px;
  border-top: 1px solid #e4e4e4;
  font-weight: 300;
  width: 120px;
}

.altContainer {
  right: 20px;
}

.container::after {
  border-radius: 20px;
}

.container ul {
  list-style: none;
  border-radius: 8px;
  padding: 5px 12px;
}

.container li {
  font-size: 12px;
  color: #808080;
  cursor: pointer;
  padding: 5px 10px;
  padding-left: 12px;
}

.container li:hover {
  background-color: #f3f3f3;
  font-weight: 500;
  border-radius: 8px;
  color: #304880;
  transform: scale(1.05);
}
