.container {
  display: flex;
}
.right__container {
  padding-left: 270px;
  width: 100%;
}

.closedRight__container {
  padding-left: 85px;
  width: 100%;
}

.welcomeContainer {
  background-color: #ffffff;
  border-radius: 12px;
  margin: 0 16px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.welcomeContainerLeft {
  padding-left: 50px;
  padding-top: 60px;
}

.welcomeLeftCornerImg {
  position: absolute;
  top: 0;
  left: 0;
}

.welcomeLeftCornerImg img {
  width: 60px;
}

.welcomeContainerLeft h2 {
  color: #304880;
  font-size: 42px;
  font-weight: 600;
}

.welcomeContainerLeft > p {
  color: rgba(31, 32, 33, 0.6);
  font-size: 18px;
  font-weight: 400;
}

.welcomeSubtitle {
  padding: 20px 0;
  margin-top: 20px;
}

.welcomeSubtitle h4 {
  font-size: 36px;
  padding-bottom: 15px;
}

.welcomeContainerRight img {
  width: 600px;
}

.buttonContainer {
  text-align: center;
  width: 100%;
  display: inline-flex;
  /* justify-content: space-between; */
  margin-top: 40px;
}

.leftBtn {
  border-radius: 10px;
  background: rgba(51, 51, 153, 0.814);
  box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15);
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 28px 0;
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  margin-right: 30px;
}

.rightBtn {
  border-radius: 10px;
  background: white;
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 153, 0.814);
  margin: 28px 0;
  border: 1px solid rgba(51, 51, 153, 0.814);
  padding: 15px 15px;
  cursor: pointer;
}

.bottom {
  display: flex;
  align-items: flex-start;
}

.stepsContainer {
  background-color: #ffffff;
  border-radius: 12px;
  flex: 0.6;
  margin-left: 16px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
}

.stepsContainerRight {
  position: absolute;
  right: 0;
}

.stepsContainerRight img {
  width: 355px;
}

.stepsContainer > h2 {
  color: #1f2021;
  font-size: 36px;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 25px;
}

.stepsContainer > button {
  border-radius: 10px;
  background: rgba(51, 51, 153, 0.814);
  box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15);
  font-size: 16px;
  font-weight: 600;
  color: white;
  /* margin: 30px 0; */
  margin-bottom: 30px;
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 30px;
}

.progressContainer {
  margin: 0 20px;
  margin-bottom: 35px;
  margin-top: 10px;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 20px;
  margin-top: 30px;
}

.stepsLeft {
  margin-right: 20px;
}

.journeyContainer {
  background-color: #ffffff;
  border-radius: 12px;
  flex: 0.4;
  margin: 0 16px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.journeyContainerLeft {
  position: absolute;
}

.journeyContainerLeft img {
  width: 200px;
}

.journeyImg {
  padding-top: 100px;
}

.journeyContainer > h2 {
  color: #1f2021;
  font-size: 36px;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 20px;
}

.journeyContent {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.journeyContent > p {
  color: rgba(31, 32, 33, 0.6);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  width: 50%;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.optionContainer {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.optionContainer input[type="radio"] {
  transform: scale(1.5);
  accent-color: #6a6ad2;
}

.optionContainer > p {
  color: #23272e;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 2px;
  line-height: 43px;
}

.journeyContainer button {
  border-radius: 10px;
  background: rgba(51, 51, 153, 0.814);
  box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15);
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-top: 35px;
  margin-bottom: 25px;
  border: none;
  padding: 25px 30px;
  cursor: pointer;
  margin-left: 20px;
}

.journeyCornerImg {
  position: absolute;
  bottom: -2px;
  right: -3px;
}

.journeyCornerImg img {
  width: 70px;
}
