footer{
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    min-width: 296px;
    background-color: rgb(33, 55, 68);
    padding: 16px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 10;
  }
  footer button{
    position: relative;
    cursor: pointer;
    line-height: 1.75;
    font-family: "Nunito Sans";
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    transition: all 0.15s ease-in-out 0s;
    border: none;
    letter-spacing: 0.5px;
    height: 40px;
    border-radius: 6px;
    font-weight: 800;
    min-width: 100%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(57, 84, 102);
  }