.modal {
  inset: 50% auto auto 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
  border-radius: 25px;
  background: #fbfbfd;
  box-shadow: 0px 6px 16px 0px rgba(153, 155, 168, 0.1);
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 30px;
  width: 700px;
  height: fit-content;
  max-height: 1200px;
  overflow-y: scroll;
}

.container {
  padding: 20px;
  position: relative;
}

.container > p {
  color: rgba(31, 32, 33, 0.6);
  font-size: 18px;
  padding: 20px 0;
  font-weight: 300;
}

.inputContainer {
  width: 100%;
  margin-top: 20px;
  text-align: left;
}

.inputContainer label {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}

.inputContainer > input {
  border-radius: 10px;
  border: 1px solid #d8dae5;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-top: 5px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  outline: none;
  font-size: 14px;
}

.closeImg {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
