.container {
  padding-top: 20px;
}

.container h3 {
  font-weight: 500;
  font-size: 16px;
  padding-left: 62px;
}

.tableContainer {
  display: flex;
  align-items: center;
  /* width: 100%; */
  flex-direction: column;
}

.tableContainer table {
  margin: 20px 0;
  font-size: 14px;
  border-radius: 8px;
  width: 90%;
  /* overflow: hidden; */
}

.tableContainer thead tr {
  background-color: #30488011;
  color: #304880;
  text-align: left;
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
}

.tableContainer table th,
.tableContainer table td {
  padding: 10px 12px;
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
}

.tableContainer tbody tr:nth-child(even) {
  background-color: #f3f6f8;
}

.tableContainer table,
.tableContainer table th,
.tableContainer table tr,
.tableContainer table td {
  border: 1px solid #f3f6f8 !important;
  border-collapse: collapse !important;
}

.actionBtn {
  border-radius: 8px;
  background: #304880;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 10px;
  display: inline-flex;
  border: none;
}

.learnBtn {
  border-radius: 8px;
  color: #304880;
  border: 1px solid #304880;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 10px;
  display: inline-flex;
  margin-right: 5px;
}

.signupBtn {
  border-radius: 8px;
  background: #304880;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 10px;
  display: inline-flex;
  border: none;
}

.actionsContainer {
  display: inline-flex;
}

.actionsContainer img {
  margin-right: 10px;
  cursor: pointer;
}
