.notificationItemUnopened {
  background-color: rgb(245, 248, 250);
  border-bottom: none !important;
  /* padding: 15px 10px;
  padding-right: 5px; */
  border-radius: 15px;
}

.notificationItem {
  margin: 10px 0;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  padding: 15px 10px;
  padding-right: 5px;
  /* height: 90px; */
  position: relative;
}

.notificationItemContainer {
  display: flex;
  align-items: center;
  border-right: 5px solid #339;
  padding-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.notificationItemContainer__unopened {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.notificationLeft {
  position: relative;
}

.notificationLeft img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.notificationLeft p {
  position: absolute;
  top: 1px;
  right: -7px;
  background-color: #339;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px 5px;
  font-size: 10px;
  border: 1px solid white;
}
.notificationRightContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.notificationCenter {
  padding-left: 16px;
  width: 70%;
}

.notificationCenter h4 {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 5px;
  color: #000000ca;
}

.notificationCenter > p {
  color: #c0c0c0;
  font-size: 13px;
  line-height: 20px;
}

.notificationRight > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.subjectOpened {
  font-weight: 400;
}

.notificationRight p {
  color: #00000075;
  font-size: 12px;
}

.notificationRight img {
  width: 30px;
  margin-right: -10px;
  cursor: pointer;
}

.notificationUnReadLine {
  width: 7px;
  height: 80px;
  background-color: #339;
}
