.modal {
  inset: 50% auto auto 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
  border-radius: 25px;
  background: #fbfbfd;
  box-shadow: 0px 6px 16px 0px rgba(153, 155, 168, 0.1);
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 30px;
  width: 880px;
  height: fit-content;
  max-height: 1200px;
  overflow-y: scroll;
}

.container {
  padding: 20px;
  position: relative;
}

.container > p {
  color: rgba(31, 32, 33, 0.6);
  font-size: 18px;
  padding: 20px 0;
  font-weight: 300;
}

.container > h4 {
  color: #2c3e50;
  font-size: 14px;
  padding: 20px 0;
  font-weight: 500;
}

.addMore {
  text-align: right;
}

.addMore button {
  border: none;
  outline: none;
  font-size: 14px;
  color: #fff;
  background-color: #304880;
  padding: 10px 20px;
  border-radius: 8px;
}

.clientInfoContainer {
  display: flex;
}

.clientInputContainer {
  margin-right: 20px;
}

.clientInputContainer label {
  font-size: 14px;
  color: #304880;
}

.clientInputContainer > input {
  border-radius: 10px;
  border: 1px solid #d8dae5;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-top: 9px;
  height: 50px;
  background-color: transparent;
  outline: none;
  font-size: 14px;
}

.emailInputContainer {
  width: 100%;
}

.emailInputContainer input {
  width: 375px;
}

.or {
  text-align: center;
}

.or p {
  color: #2c3e50;
  padding: 15px 0;
}

.inviteContainer > h4 {
  color: #2c3e50;
  font-size: 14px;
  padding-bottom: 20px;
  font-weight: 500;
}

.inviteInputContainer {
  border-radius: 10px;
  border: 1px solid #d8dae5;
  display: flex;
  align-items: center;
  padding: 15px;
  height: 50px;
  width: 80%;
}

.inviteInputContainer > input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 14px;
  width: 100%;
  padding-left: 10px;
}

.inviteInputContainer > input::placeholder {
  color: #c0c0c0;
}

.clientListContainer > h4 {
  color: #2c3e50;
  font-size: 14px;
  padding: 20px 0;
  font-weight: 500;
}
.tableContainer table {
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
}

.tableContainer thead tr {
  background-color: #30488011;
  color: #304880;
  text-align: left;
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
}

.tableContainer table th,
.tableContainer table td {
  padding: 10px 12px;
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
}

.tableContainer table th {
  color: #2c3e50;
  font-weight: 600;
}

.tableContainer table td {
  color: #23272e;
}

.tableContainer tbody tr:nth-child(even) {
  background-color: #f3f6f8;
}

/* .tableContainer tbody tr:last-child td {
  border-bottom: 1px solid #c0c0c0;
} */

.profileContainer {
  display: inline-flex;
  align-items: center;
}

.profileContainer span {
  margin-left: 10px;
}

.tableFooter {
  display: flex;
  justify-content: space-between;
}

.tableFooterLeft {
  display: flex;
  align-items: center;
}

.footerElem {
  background-color: #f5f4f4;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 8px;
  font-size: 14px;
  color: #2c3e50;
  cursor: pointer;
}

.footerElemSelected {
  background-color: #fff;
  border: 1px solid #304880;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 8px;
  font-size: 14px;
  color: #2c3e50;
  cursor: pointer;
}

.tableFooterRight {
  display: flex;
  align-items: center;
}

.tableFooterRight > p {
  margin-right: 10px;
}

.rowPickerContainer label {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}

.rowPicker {
  border-radius: 10px;
  border: 1px solid #d8dae5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 5px;
  height: 45px;
  width: 100%;
  background-color: transparent;
  outline: none;
}

.rowSelected {
  color: #000000;
  font-size: 14px;
  margin-right: 10px;
}

.rowUnSelected {
  color: #c0c0c0;
  font-size: 14px;
  margin-right: 10px;
}

.rowList {
  position: relative;
}

.rowOptions {
  background-color: #f3f6f8;
  text-align: left;
  height: 194px;
  overflow: scroll;
  padding: 20px;
  border-radius: 12px;
  position: absolute;
}

.rowOptions p {
  padding: 12px 5px;
  padding-left: 10px;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 200;
}

.countryOptions p:hover {
  background-color: #ffffff;
  border-radius: 12px;
  padding-left: 15px;
}

.upArrow {
  width: 15px;
}

.downArrow {
  width: 10px;
}

.emailTemplatePreview > h3 {
  padding: 20px 0;
  font-weight: 500;
}

.emailTemplateContainer {
  border: 1px solid #c0c0c0;
  border-radius: 12px;
  padding: 20px;
}

.emailTemplateTop {
  text-align: center;
}

.emailTemplateTop > h3 {
  font-weight: 500;
  padding: 20px 0;
}

.emailTemplateTop > h4 {
  font-weight: 500;
  padding-top: 10px;
}

.emailTemplateTop img {
  width: 250px;
}

.emailTemplateContent h5 {
  font-weight: 500;
  padding-bottom: 20px;
  font-size: 16px;
}

.emailTemplateContent p {
  padding: 10px 0;
  line-height: 24px;
  color: #2c3e50;
}

.buttonContainer {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.leftBtn {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  background: white;
  /* box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15); */
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 153, 0.814);
  padding: 16px 20px;
  cursor: pointer;
  border: none;
  background: #e1e1fd;
}

.leftBtn > img {
  margin-right: 10px;
  margin-top: 3px;
}

.rightBtn {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  background: white;
  /* box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15); */
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 153, 0.814);
  border: 1px solid rgba(51, 51, 153, 0.814);
  padding: 16px 20px;
  cursor: pointer;
  margin-left: 30px;
}

.rightBtn > img {
  margin-left: 10px;
  margin-top: 3px;
}

.closeImg {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
