.modal {
  inset: 50% auto auto 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
  border-radius: 25px;
  background: #f3f6f8;
  box-shadow: 0px 6px 16px 0px rgba(153, 155, 168, 0.1);
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 30px;
  width: 800px;
  text-align: center;
  height: 900px;
}

.container {
  padding: 20px;
  position: relative;
}

.container img {
  width: 200px;
}

.container h1 {
  padding-bottom: 20px;
  font-weight: 500;
  padding-top: 30px;
  font-size: 24px;
}

.container p {
  color: #242424;
  padding-bottom: 10px;
  font-size: 14px;
  width: 90%;
}

.container__content {
  padding-bottom: 20px;
}

.container__content span {
  color: #304880;
  border-bottom: 1px solid #304880;
  cursor: pointer;
  font-weight: 500;
}

.buttonContainer {
  text-align: right;
  margin-top: 100px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.buttonContainer button:disabled {
  background-color: rgb(196, 196, 196);
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.continueBtn {
  background-color: #304880;
  border: none;
  outline: none;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  width: 130px;
}

.backButton {
  border: 1px solid #304880;
  background: none;
  outline: none;
  width: 130px;
  color: #304880;
  border-radius: 8px;
  padding: 10px 15px;
  font-weight: 400;
  cursor: pointer;
}
