.modal {
  inset: 50% auto auto 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
  border-radius: 25px;
  background: #fbfbfd;
  box-shadow: 0px 6px 16px 0px rgba(153, 155, 168, 0.1);
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 30px;
  width: 700px;
  height: fit-content;
  max-height: 1200px;
  overflow-y: scroll;
  text-align: center;
}

.container {
  padding: 20px;
  position: relative;
}

.leftHeader {
  display: flex;
  justify-content: space-between;
}

.leftHeader__left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.backIcon {
  background: #339;
  border-radius: 50%;
  padding: 5px 9px;
  padding-top: 8px;
}

.backIcon img {
  width: 20px;
}

.leftHeader__left h3 {
  font-weight: 200;
  padding-left: 15px;
  font-size: 16px;
}

.left__logo {
  text-align: center;
}

.left__logo img {
  width: 200px;
}

.info {
  font-size: 20px;
  color: #339;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  padding-top: 20px;
}

.info span {
  color: #c0c0c0;
  font-size: 16px;
}

.email {
  padding-bottom: 15px;
}

.email p {
  color: #304048;
}

.email h4 {
  font-size: 16px;
  padding-top: 15px;
  font-weight: 300;
}

.input {
  border-radius: 10px;
  border: 1px solid #d8dae5;
  padding: 15px 10px;
  margin-top: 25px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  outline: none;
}

.input::placeholder {
  color: #d6d6d6;
}

.errorField {
  border: 1px solid red !important;
}

.error {
  text-align: left;
  font-size: 12px;
  color: red;
  padding-top: 5px;
  padding-left: 3px;
}

.agreementError {
  text-align: left;
  font-size: 12px;
  color: red;
  padding-top: 0;
  padding-left: 3px;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #d8dae5;
  padding: 12px;
  padding: 15px 8px;
  margin-top: 25px;
  /* height: 50px; */
  overflow-y: scroll;
  cursor: pointer;
}

.upArrow {
  width: 15px;
}

.downArrow {
  width: 10px;
}

.dropdown > div {
  display: flex;
  flex-wrap: wrap;
}

.dropdown p {
  font-size: 12px;
  color: #d6d6d6;
}

.selectedOptions {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 20px; */
}

.dropdownOptions {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
      grid-template-columns: 1fr 1fr; */
  border-radius: 8px;
  border: 1px solid #d8dae5;
  padding: 12px;
  margin-top: 15px;
  overflow-y: scroll;
  position: relative;
}

.exitIcon {
  position: absolute;
  right: 5px;
  top: 6px;
  cursor: pointer;
}

.exitIcon img {
  width: 15px;
}

.inputContainer {
  border-radius: 10px;
  border: 1px solid #d8dae5;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  margin-top: 25px;
  height: 50px;
}

.inputContainer img {
  width: 20px;
  cursor: pointer;
}

.inputContainer input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}

.inputContainer input::placeholder {
  color: #d6d6d6;
}

.autoGenerate {
  text-align: left;
  margin-top: 15px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.autoGenerate div {
  display: flex;
  align-items: center;
}

.autoGenerate div p {
  font-size: 12px;
  padding-right: 3px;
}

.autoGenerate img {
  width: 20px;
  cursor: pointer;
}

.autoGenerate button {
  border: 1px solid #304880;
  background: none;
  border-radius: 8px;
  font-size: 12px;
  padding: 8px 10px;
  color: #808080;
  cursor: pointer;
  margin-right: 20px;
}

.passwordChecker {
  text-align: left;
}

.passwordChecker > p {
  font-size: 14px;
  color: #808080;
  padding: 10px 0;
}

.passwordChecker__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.passwordCheckerCircle {
  width: 12px;
  height: 12px;
  background-color: #c0c0c0;
  border-radius: 50%;
  margin-right: 10px;
}

.passwordCheckerCircle__passed {
  width: 12px;
  height: 12px;
  background-color: rgb(16, 214, 16);
  border-radius: 50%;
  margin-right: 10px;
}

.passwordChecker__item p {
  font-size: 14px;
}

.passwordChecker ul {
  margin-top: 10px;
  font-size: 12px;
  padding-left: 50px;
}

.passwordChecker ul li {
  padding-bottom: 5px;
}

.agreement {
  display: flex;
  margin: 25px 0;
  margin-bottom: 10px;
}

.agreement input[type="checkbox"] {
  accent-color: rgba(51, 51, 153, 0.814);
}

.agreement p {
  padding-left: 10px;
}

.agreement p span {
  border-bottom: 1px solid #339;
  color: #339;
}

.buttons {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.register {
  border-radius: 30px;
  background: rgba(51, 51, 153, 0.814);
  box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15);
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-top: 28px;
  border: none;
  padding: 16px 0;
  cursor: pointer;
}

.cancel {
  border-radius: 30px;
  background: transparent;
  box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15);
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 153, 0.814);
  margin: 28px 0;
  border: 1px solid rgba(51, 51, 153, 0.814);
  padding: 16px 0;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .right__productsImg img {
    width: 100%;
    height: 500px;
  }
  .bottomContainer {
    display: flex;
    align-items: center;
  }

  .bottom__left img {
    width: 120px;
    padding-top: 30px;
  }

  .bottom__right {
    color: white;
    padding-left: 20px;
  }

  .bottom__right h2 {
    padding-bottom: 12px;
  }

  .bottom__right p {
    font-size: 14px;
  }
}
