.container {
  padding-top: 20px;
}

.container h3 {
  font-weight: 500;
  font-size: 16px;
  padding-left: 62px;
}

.tableContainer {
  display: flex;
  align-items: center;
  /* width: 100%; */
  flex-direction: column;
}

.tableContainer table {
  margin: 20px 0;
  font-size: 14px;
  border-radius: 8px;
  width: 90%;
  /* overflow: hidden; */
}

.tableContainer thead tr {
  background-color: #30488011;
  color: #304880;
  text-align: left;
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
}

.tableContainer tbody tr:nth-child(even) {
  background-color: #f3f6f8;
}

.tableContainer table th:first-child,
.tableContainer table td:first-child {
  width: 73px;
}

.tableContainer table,
.tableContainer table th,
.tableContainer table tr,
.tableContainer table td {
  border: 1px solid #f1f1f1 !important;
  border-collapse: collapse !important;
  padding: 10px 12px;
}

.certificateContainer {
  display: inline-flex;
  align-items: center;
}

.certificateContainer img {
  margin-left: 10px;
}

.status {
  border-radius: 8px;
  background: rgba(238, 185, 49, 0.1);
  color: #eeb931;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 10px;
  display: inline-flex;
}

.status span {
  padding-left: 5px;
}

.actionsContainer {
  display: inline-flex;
}

.actionsContainer img {
  margin-right: 10px;
  cursor: pointer;
}
