.onBoard {
  border-radius: 12px;
  border: 1px solid #f4f4f4;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.container {
  padding: 15px 15px;
  margin-bottom: 25px;
}

.unContainer {
  /* padding: 17px 15px; */
  padding: 15px 15px;
  margin-bottom: 24px;
}

.containerLeft {
  display: flex;
  align-items: center;
}

.checked {
  padding-top: 2px;
}

.unchecked {
  border: 1px solid #808080;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 6px 0;
  margin-left: 3px;
}

.onBoard h3 {
  color: #304880;
  font-size: 16px;
  font-weight: 600;
}

.checkedTitle {
  padding-left: 6px;
}

.unCheckedTitle {
  padding-left: 9px;
}

.leftArrow img {
  width: 9px;
}
