.onboarding {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  /* padding: 6px 20px; */
  margin: 10px auto;
  position: relative;
  width: 98%;
  margin-top: 30px;
  padding: 10px 15px;
}

/* .tabs{
  
  } */

.tabValue {
  text-transform: inherit !important;
  color: #c0c0c0;
}

.selectedTab {
  color: #304880 !important;
}

.topButtonContainer {
  text-align: right;
}

.topLeftBtn {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  background: white;
  /* box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15); */
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 153, 0.814);
  padding: 16px 20px;
  cursor: pointer;
  border: none;
  background: #e1e1fd;
}

.topRightBtn {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  background: white;
  /* box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15); */
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 153, 0.814);
  border: 1px solid rgba(51, 51, 153, 0.814);
  padding: 16px 20px;
  cursor: pointer;
  margin-left: 30px;
}

.table {
  margin-top: 30px;
}

.tableHeader {
  background: #f5f5fa;
}

.tableTitleContainer {
  display: flex;
  align-items: center;
}

.tableTitleContainer th {
  color: #8181a5;
  font-weight: 500;
}

.tableTitleContainer > svg {
  width: 0.6em;
  height: 0.6em;
  margin-left: 5px;
  cursor: pointer;
}

.tableLinkValue {
  color: rgb(45, 136, 255);
  cursor: pointer;
}

.statusContainer {
  border-radius: 12px;
  text-align: center;
  padding: 8px 10px;
}

.statusActive {
  background: #e7f7ef;
  color: #0caf60;
}

.statusInactive {
  background: #ffedec;
  color: #e03137;
}
