.modal {
  inset: 50% auto auto 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
  border-radius: 25px;
  background: #f3f6f8;
  box-shadow: 0px 6px 16px 0px rgba(153, 155, 168, 0.1);
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 30px;
  width: 800px;
  text-align: center;
  height: 900px;
}

.container {
  padding: 20px;
  position: relative;
  height: 77%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal img {
  width: 200px;
}

.container h1 {
  padding-bottom: 20px;
  font-weight: 500;
  padding-top: 30px;
  font-size: 26px;
}

.container > p {
  color: #23272e;
  padding-top: 20px;
  width: 80%;
  margin: auto;
}

.info > h3 {
  font-weight: 500;
  padding: 15px 0;
}

.inputContainer {
  width: 100%;
  margin-top: 20px;
  text-align: left;
}

.inputContainer label {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}

.inputContainer > input {
  border-radius: 10px;
  border: 1px solid #d8dae5;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-top: 5px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  outline: none;
  font-size: 14px;
}

.inputContainer > input::placeholder {
  color: #c0c0c0;
}

.center > p {
  text-align: left;
  padding: 20px 0;
}

.resend {
  text-align: right;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.resend h5 {
  font-weight: 400;
  border-bottom: 1px solid #304880;
  width: fit-content;
  margin-right: 20px;
  cursor: pointer;
}

.buttonContainer {
  text-align: right;
  margin-top: 72px;
  display: inline-flex;
  justify-content: space-between;
  width: 95%;
}

.buttonContainer button:disabled {
  background-color: rgb(196, 196, 196);
}

.continueBtn {
  background-color: #304880;
  border: none;
  outline: none;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  width: 130px;
}

.backButton {
  border: 1px solid #304880;
  background: none;
  outline: none;
  width: 130px;
  color: #304880;
  border-radius: 8px;
  padding: 10px 15px;
  font-weight: 400;
  cursor: pointer;
}
