.option {
  border-radius: 8px;
  background: #fff;
  border-left: 5px solid #339;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
  width: 500px;
  margin-bottom: 24px;
  height: 100px;
  display: flex;
  align-items: center;
}

.option__selected {
  border-left: 5px solid green;
}

.option__unSelected {
  border-left: 5px solid #c0c0c0;
}

.container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.containerLeft {
  text-align: left;
  margin-right: 10px;
  color: #808080;
}

.containerLeft h3 {
  font-weight: 400;
  font-size: 16px;
}

.containerLeft p {
  padding-top: 10px;
  font-size: 12px;
}

.button {
  border: 1px solid #304880;
  background: none;
  outline: none;
  width: 130px;
  color: #304880;
  border-radius: 8px;
  padding: 10px 15px;
  font-weight: 400;
  cursor: pointer;
}

.button__selected {
  background-color: #304880;
  border: 1px solid #304880;
  outline: none;
  width: 130px;
  color: white;
  border-radius: 8px;
  padding: 10px 15px;
  font-weight: 400;
  cursor: pointer;
}
