.modal {
  inset: 50% auto auto 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
  border-radius: 25px;
  background: #fbfbfd;
  box-shadow: 0px 6px 16px 0px rgba(153, 155, 168, 0.1);
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 30px;
  width: 700px;
  height: fit-content;
  max-height: 1200px;
  overflow-y: scroll;
}

.container {
  padding: 20px;
  position: relative;
}

.container > p {
  color: rgba(31, 32, 33, 0.6);
  font-size: 18px;
  padding-top: 20px;
  font-weight: 300;
  padding-bottom: 10px;
}

.buttonContainer {
  text-align: right;
}

.buttonContainer button {
  background-color: #304880;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.certificateContainer {
  display: inline-flex;
  align-items: center;
}

.certificateContainer img {
  margin-left: 10px;
}

.status {
  border-radius: 8px;
  background: rgba(238, 185, 49, 0.1);
  color: #eeb931;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 10px;
  display: inline-flex;
}

.status span {
  padding-left: 5px;
}

.actionsContainer {
  display: inline-flex;
}

.actionsContainer img {
  margin-right: 10px;
  cursor: pointer;
}

.tableContainer table {
  margin: 20px 0;
  font-size: 14px;
  border: 1px solid #f4f4f4;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
}

.tableContainer thead tr {
  background-color: #30488011;
  color: #304880;
  text-align: left;
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
}

.tableContainer table th,
.tableContainer table td {
  padding: 10px 12px;
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
}

.tableContainer tbody tr:nth-child(even) {
  background-color: #f3f6f8;
}

.closeImg {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
