.EmailSection,.message-section{
    width: 100%;
    font-family: 'Poppins';
}
.heading{
    color: #23272E;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-bottom: 12px;
}


/* home section syling  */
.home-section{
    width: 100%;
}
.home-section .header{
    background-color: #FFFFFF;
    padding: 12px 24px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 10px 50px 0px #0000001A;
    display: flex;
    align-items: center;
    gap: 12px;

}
.home-section .icon{
    background-color: transparent;
    cursor: pointer;
    padding: 12px 8px;
}
.home-section .icon:hover{
    background-color: rgba(230, 227, 227, 0.4);
    border-radius: 8px;
}
.home-section .main{
    background-color: #FFFFFF;
    margin-top: 12px;
    border-radius: 8px;
    display: flex;
    width: 100%;
}
.home-section .main .listItems{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    height: 500px;
    overflow-y: scroll;
    min-width: 240px;
    max-width: 250px;
    border-right: 6px solid #F4F4F4;
}
/* Customize the scrollbar */
.home-section .main .listItems::-webkit-scrollbar {
    width: 6px; /* Set the scrollbar width */
  }
  
  .home-section .main .listItems::-webkit-scrollbar-thumb {
    background-color: #333399; /* Set the scrollbar color */
    border-radius: 100px; /* Set the scrollbar thumb radius */
    transform: rotate(0deg); /* Set the scrollbar thumb rotation */
  }
  
  .home-section .main .listItems::-webkit-scrollbar-track {
    height: 120px !important; /* Set the scrollbar track height */
    background-color: transparent; /* Set the scrollbar track background color */
  }

  .inbox-text{
   font-size: 14px;
   font-weight: 500;
   color: #333399;
  }
  .inbox-subText{
   font-size: 12px;
   font-weight: 400;
   color: #2C3E50;
  }



  /* redner email template  */
  .renderEmailTemplate{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    height: 450px;
    overflow-y: scroll;
    min-width: 280px;
    max-width: 300px;
    overflow-x: hidden;
    border-right: 6px solid #F4F4F4;

  }

  /* Customize the scrollbar */
.renderEmailTemplate::-webkit-scrollbar {
    width: 6px; /* Set the scrollbar width */
  }
  
  .renderEmailTemplate::-webkit-scrollbar-thumb {
    background-color: #333399; /* Set the scrollbar color */
    border-radius: 100px; /* Set the scrollbar thumb radius */
    transform: rotate(0deg); /* Set the scrollbar thumb rotation */
  }
  
  .renderEmailTemplate::-webkit-scrollbar-track {
    height: 120px !important; /* Set the scrollbar track height */
    background-color: transparent; /* Set the scrollbar track background color */
  }

  .renderEmailTemplate .templateHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .renderEmailTemplate .templateHeader .left{
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .renderEmailTemplate .templateHeader .right{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 5px;
  }


  /* email content section styling  */
  .email-section{
    padding: 12px;
    width: 100%;
    height: auto;
    background-color: white;
  }
  .email-section .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
  }
  .email-section .head .text{
    font-size: 14px;
    font-weight: 500;
    color: #23272E;
  }
  .email-section .profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 5px;
  }
  .email-section .head .right-icons .icons{
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .email-section .profile .icons{
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .right-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 12px;
  }
  .email-section .cc{
    display: flex;
    align-items: center;
    margin-right: 15px;
    gap: 15px;
  }
  .email-section .cc h3{
    font-size: 14px;
    font-weight: 400;
    color: #A9AEB6;
    cursor: pointer;
  }

.email-section .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 15px;
  }
  .email-section .content .subject{
    font-size: 16px;
    font-weight: 500;
    color: #23272E;
  }
  .email-section .content .text{
    font-size: 14px;
    font-weight: 400;
    color: #23272E;
  }
  .email-section footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 40px;

  }

  .email-section .email-input{
    border: none;
    outline: none;
    width: 100%;
    color: #A9AEB6;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 24px;
  }
  .email-section .email-textarea{
    border: none;
    outline: none;
    width: 100%;
    color: #A9AEB6;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 24px;
  }



  /* modal styling  */
  .modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
  }
  .modal-header .heading{
    font-size: 20px;
    font-weight: 600;
    color: #23272E;
  }
  .modal{
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .modal .general-heading{
    font-size: 18px;
    font-weight: 500;
    color: #23272E;
  }
  .modal .subHeading{
    font-size: 14px;
    font-weight: 300;
    color: #2C3E50;
    line-height: 20px;
  }
  .modal .signature-type{
    font-size: 14px;
    font-weight: 300;
    color: #2C3E50;
  }
  .modal .select, .signature-type .select{
    padding: 10px 16px !important;
    border-radius: 8px;
    border: 1px solid #F4F4F4;
    outline: 1px solid #F4F4F4;
    color: #23272E !important;
    background-color: transparent !important;
    width: 300px !important;
    margin-left: 25px !important;

  }
  .modal .check{
    font-size: 16px;
    font-weight: 400;
    color: #23272E;
  }
  .modal .select-title{
    font-size: 14px;
    font-weight: 400;
    color: #2C3E50;
  }
  .modal .subBold{
    font-size: 14px;
    font-weight: 500;
    color: #23272E;
  }



  /* message section styling  */
  .message-section .main{
    background-color: #FFFFFF;
    margin-top: 12px;
    border-radius: 8px;
    display: flex;
    width: 100%;
}
.message-section .main .listItems{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    height: 500px;
    overflow-y: scroll;
    min-width: 240px;
    max-width: 250px;
    border-right: 6px solid #F4F4F4;
}
/* Customize the scrollbar */
.message-section .main .listItems::-webkit-scrollbar {
    width: 6px; /* Set the scrollbar width */
  }
  
  .message-section .main .listItems::-webkit-scrollbar-thumb {
    background-color: #333399; /* Set the scrollbar color */
    border-radius: 100px; /* Set the scrollbar thumb radius */
    transform: rotate(0deg); /* Set the scrollbar thumb rotation */
  }
  
  .message-section .main .listItems::-webkit-scrollbar-track {
    height: 120px !important; /* Set the scrollbar track height */
    background-color: transparent; /* Set the scrollbar track background color */
  }



  /* message chatbox styling  */
  .messages{
    width: 100%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 8px 16px 0px #8F95B226;
  }
  .messages header{
    display: flex;
    width: 100%;
    height: auto;
    padding: 12px 24px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F4F4F4;
    margin-bottom: 12px;
  }
  .messages header .icons{
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .messages header .icons .icon{
    width: 25px;
    height: 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7FC;
    padding: 20px;
  }

  .messages .chat-screen{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 450px;
    width: 100%;
    overflow-y: scroll;
    position: relative;
  }

  /* Customize the scrollbar */
.messages .chat-screen::-webkit-scrollbar {
    width: 6px; /* Set the scrollbar width */
  }
  
  .messages .chat-screen::-webkit-scrollbar-thumb {
    background-color: #333399; /* Set the scrollbar color */
    border-radius: 100px; /* Set the scrollbar thumb radius */
    transform: rotate(0deg); /* Set the scrollbar thumb rotation */
  }
  
  .messages .chat-screen::-webkit-scrollbar-track {
    height: 120px !important; /* Set the scrollbar track height */
    background-color: transparent; /* Set the scrollbar track background color */
  }


  .messages .message-content{
    display: flex;
    width: 100%;
    height: auto;
    padding: 12px 60px;
    align-items: flex-start;
    justify-content: space-between;
  }
  .messages .message-content .chat{
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }

  .person-message .personName{
    font-size: 14px;
    font-weight: 400;
    color: #1C1D21;
    margin-bottom: 8px;
  }
  .person-message .personName span{
    font-size: 12px;
    font-weight: 300;
    color: gray;
    margin-left: 12px;
  }
  .messages .person-message .person-text{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .messages .person-message .person-text .text{
    background-color: #F0F0F499;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 0px;
    font-size: 14px;
    font-weight: 400;
    color: #1C1D21;
    padding: 12px 24px;

  }


  /* reply section styling  */
  .messages .chat-screen .reply-section{
    position: sticky;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding: 12px 24px;
  }
  .messages .chat-screen .reply-section .reply{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    background-color: #F9FAFC;
    color: #8F95B2;
  }

  .messages .chat-screen .reply-section .reply input{
    outline: none;
    border: none;
    padding: 12px;
    width: 400px;
    background-color: transparent;
    color: black;
  }

  .reply-section .btns{
    display: flex;
    align-items: center;
    gap: 12px;
  }
  