.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.finishBtn {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  background: white;
  /* box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15); */
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 153, 0.814);
  border: 1px solid rgba(51, 51, 153, 0.814);
  padding: 16px 20px;
  cursor: pointer;
}

.buttonContainer {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.leftBtn {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  background: white;
  /* box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15); */
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 153, 0.814);
  padding: 16px 20px;
  cursor: pointer;
  border: none;
  background: #e1e1fd;
}

.leftBtn > img {
  margin-right: 10px;
  margin-top: 3px;
}

.rightBtn {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  background: white;
  /* box-shadow: 0px 8px 16px 0px rgba(143, 149, 178, 0.15); */
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 51, 153, 0.814);
  border: 1px solid rgba(51, 51, 153, 0.814);
  padding: 16px 20px;
  cursor: pointer;
  margin-left: 30px;
}

.rightBtn > img {
  margin-left: 10px;
  margin-top: 3px;
}
