.container {
  inset: 50% auto auto 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border: none;
  border-radius: 25px;
  background: #fbfbfd;
  box-shadow: 0px 6px 16px 0px rgba(153, 155, 168, 0.1);
  overflow: auto;
  border-radius: 25px;
  outline: none;
  padding: 30px;
  width: 500px;
  text-align: center;
}

/* .container::before {
  content: " ";
  position: absolute;
  background: inherit;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.185);
  left: 0;
  z-index: -1;
} */

.container h3 {
  color: #339;
  font-size: 22px;
  font-weight: 600;
  padding: 30px 0;
}

.container p {
  color: #8f95b2;
}

.container button {
  border-radius: 20px;
  border: 1px solid #339;
  background: #fff;
  width: 90%;
  color: #339;
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 12px 0;
  cursor: pointer;
}
