.container {
  position: relative;
  margin-bottom: 20px;
}

.sentMessage {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.receivedMessage {
  display: flex;
  position: relative;
}

.sentMessage .messageBox {
  background-color: rgb(223, 227, 235);
  margin-bottom: 20px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-right: 10px;
}

.receivedMessage .messageBox {
  background-color: #f3f6f8;
  margin-bottom: 20px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-left: 10px;
}

.messageBox {
  display: flex;
  padding: 15px 10px;
}

.sentMessage .messageBox__message {
  color: rgb(66, 66, 66);
}

.messageBox__message {
  font-size: 14px;
  width: 90%;
  line-height: 20px;
  padding-bottom: 20px;
}

.sentMessage .messageBox__timestamp {
  color: rgb(66, 66, 66);
  font-size: 10px;
  position: absolute;
  bottom: 28px;
  right: 65px;
}

.receivedMessage .messageBox__timestamp {
  color: rgb(66, 66, 66);
  font-size: 10px;
  position: absolute;
  bottom: 28px;
  right: 15px;
}

.messageBox img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 58px;
  cursor: pointer;
}

.receivedMessage .messageBox img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
}

.messageBox__img img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
